<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %> Properties Editor</title>
    </head>
    <body>
        <script src="bower_components/xui-framework/dist/xui.js"></script>
        <script>
        /* globals xui */
        (function() {
            'use strict';

            var config = xui.config.ConfigWindow.getInstance();
            config.setRenderMode(xui.config.ConfigWindow.RenderMode.EMBEDDED);
            config.declareCustomTabs(['Custom']);
            config.setTabOrder(
                ['Custom', 'Html', 'Color', 'Layout', 'Transition']);
        })();
        </script>
    </body>
</html>
