<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="config-url" content="index_config.html" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>
            XUI exposes useful methods to work with XSplit without fiddling too much
            with the raw core methods exposed to JavaScript, which makes developing
            plugins for XSplit a lot easier.
        </p>
        <p>
            There are two main namespaces that is avialable for you to use:
            <ul>
                <li>xui.core</li>
                <li>xui.system</li>
            </ul>
        </p>
        <p>
            You can read more about it at our documentation: <br />
            <a href="http://splitmedialabslimited.github.io/xui/docs/">Docs</a>
        </p>
        <script src="src/bower_components/xui-framework/dist/xui.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
